################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/OLXClone/FileContentIndex/170ee7c8-686f-4fff-8691-0097942a8cc1.vsidx
/Backend/.vs/OLXClone/FileContentIndex/245a0ea3-319f-4418-aaf3-72f7eecf5f48.vsidx
/Backend/.vs/OLXClone/FileContentIndex/2f1d4ccf-d50e-47d7-9748-109ed6b796a9.vsidx
/Backend/.vs/OLXClone/FileContentIndex/d0a65019-a910-402a-91a7-d1570d7f0c61.vsidx
